.body{
    margin: 16px;
}
.content{
    margin-bottom: 24px;
}
.title{
    color: #FAFAFA;
    font-family:Source Sans Pro;
    font-weight:600;
    font-size:16px;
    line-height:24px;
    font-style: normal;
    margin-bottom: 0;
}
.paragraf{
    color: #FAFAFA;
    font-family:Source Sans Pro;
    font-weight:400;
    font-size:14px;
    line-height:22px;
    font-style: normal;
}